.header {
  &__banniere {
    width: 100%;
    height: 410px;
    background-image: url(../../assets/banniere.svg);
    background-position: center;
    & img {
      width: 100px;
      height: 200px;
    }
  }
}
